.pending {
  background-color: gold;
}

.bulk_action {
  background-color: hsl(0, 77%, 56%);
  border: 1px solid hsl(0, 77%, 56%);
  padding: 15px;
  width: auto;
  margin-bottom:30px;
}
.bulk_action > select {
   height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width: 200px;
}
.input-waktu {
   height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width: 200px;
}
.bulk_action > button {
  width: 100px;
}
