.table tr td:nth-child(1){	width:30px; text-align:left;}
.table tr td:nth-child(2){	width:40px;	text-align:left;}
.table tr td:nth-child(3){	width:250px;	text-align:left;}
.table tr td:last-child{	width:100px;	text-align:left;}
