.dt-body-right{
text-align:right;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: green !important;
}
span.progress-download-xls {
    background-color: #28a745 !important;
    color: white;
    padding: 5px;
}
.badge {
	padding:10px;
}
.chart-legend>li {
        margin-top: 5px;
}


.list-class {
    float: left;
    font-size: 9pt;
    margin-right: 5px;
    font-style:italic;
    font-weight:bold;
    
}

table#datalist tr th {
    display: none;
}

h3.card-jadwal,h3.card-token,h3.card-judul {
    font-size: 11pt;
    font-weight: bold;
}
h3.card-label {
    font-size: 11pt;
    
    font-style: italic;
}

span.label.label-success {
    background-color: #39cccc;
    padding: 2px;
    font-size:11pt;
}
span.label.label-danger {
    background-color: #e83e8c;
    padding: 2px;
    font-size:11pt;
}
.table td, .table th {
    padding: 0; 
    vertical-align: top; 
    border-top: 0;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.3rem; 
    padding-left:0.5rem;
   }
