/* Universal CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  margin-bottom: 60px;
}

.bungkusan {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  height: 60px;
  z-index: 9999;
}

.text-header {
  font-size: 10px;
}

.text {
  font-size: 15px;
  margin-bottom: 5px;
}

.gambar {
  width: 100%;
  height: 450px;
}


/* CSS Pre- Test */
.listHuruf {
  list-style-type: upper-alpha;
  color: #092b55;
}

.headerPreTest {
  background: #4c93ff;
  height: 60px;
}

.judulPreTest {
  font-size: 20px;
  font-weight: bold;
  color: #3d73c5;
}

.nomerPreTest {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background: #4c93ff;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.soalPreTest {
  color: #092755;
}

.jawabanBenar {
  background: #07de1d;
}

/* CSS Summary */
.image-header {
  width: 50%;
  height: auto;
}

.text-header {
  font-size: 16px;
  font-weight: bold;
}

@media screen and (min-width: 765px) {
  .image-header {
    width: 25%;
  }

  .text-header {
    font-size: 24px;
  }
}
.btn-take {
  background-color: #4c93ff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}
body{
  padding-top:80px;
}
.kompetensi:hover {
    cursor:pointer;
}