#AddDefaultCharset UTF-8
Options -Indexes
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-d  
RewriteCond %{SCRIPT_FILENAME} !-f  
#RewriteBase /

#RewriteRule ^(.*)$ index.php?xparam=$1 
RewriteRule ^(.*)$ index.php?xparam=$1 [QSA,L]


</IfModule>
