div#middle-block .container .row {
    display: flex;
    /* min-height: calc(100vh - 130px); */
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 50px;
 
}
#clockdiv{margin:0 !important;vertical-align:middle;padding:0 !important;}
div#ujian-block {
    background: #fff;
}

input#tombol_selesai {
	z-index:9999999;
  
 
	margin:0 !important;
    width: 100% !important;
    
}
div#ukuran-soal label {
    margin: 0;
}
.prev-page {
    /* background: #888; */
    color: #fff;
    border-radius: 0;
    border: 0;
}
.next-page{
	
    border-radius: 0;
    border: 0;
}
.jawaban-ragu label {
    margin: 0;
    font-weight: normal;
    padding: 5px 15px 5px 0;
}

.jawaban-ragu input {
    margin: 0;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 4px;
}
.jawaban-ragu {
    background: #ff8f00;
    text-transform: uppercase;
    font-weight: normal;
    color: #fff;
    padding-left: 15px;
}
.ragu {
    background: #ff8f00 !important;
}
.list-answer label {
    font-weight: normal;
	border:0 !important;
    margin: 0;
    cursor: pointer;
    display: flex;
}
.list-answer input {
	position:absolute;
	right:105%;
}
.answer-block {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin-top: 30px;
}
.list-answer.active,.list-answer:hover {color:#377cc5;}
.list-answer.active span,.list-answer:hover span {border-color:#377cc5;color:#377cc5;}
div#block-list-jawaban.active {
    right:0;
    transform: translateX(0);
    -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);}
div#block-list-jawaban {
    position: fixed;
	cursor:pointer;
    background: #fff;
    top: 12px;
    right: 0px;
    transform: translateX(100%);
	min-width:249px;
    z-index: 9;
    border: 4px solid #ccc;
    -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
	transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
    border-right: 0;
}
div#block-list-jawaban ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    height: 100%;
    /* max-height: 60vh; */
    padding: 12px 6px;
}
.list-jawaban-line {
    overflow-y: auto;
    display: block;
    max-height: 67vh;
    position: relative;
    width: 100%;
}
div#block-list-jawaban li:nth-child(5n+1) {
    clear: both;
}
div#block-list-jawaban li .button-list-jawaban,.cek_pilihan_essay > span {
    display: block;
    height: 40px;
    line-height: 36px;
    font-weight: bold;
    color: #333;
    border: 2px solid #333  !important;
    font-size: 13pt;
}
div#block-list-jawaban li a:hover {text-decoration:none}
div#block-list-jawaban li .button-list-jawaban span {
    position: absolute;
    top: -8px;
    right: -8px;
    background: #fff;
    display: block ;
    width: 22px !important;
    height: 22px !important;
    line-height: 18px;
    border: 2px solid #333;
    border-radius: 50%;
    font-size: 12px !important;
	color:#333;
    font-weight: normal;
}
div#block-list-jawaban li .button-list-jawaban.panel_answer_checked {
    background: #333;
    color: #fff;
}
div#block-list-jawaban li,.cek_pilihan_essay > span {
    width: 40px;
    float: left;
    margin: 7px;
    text-align: center;
    position: relative;
}
.cek_pilihan_essay {
    overflow: hidden;
    padding: 0 4px;
    margin-bottom: 20px;
}
div#block-list-jawaban ul:after {
    content: "";
    clear: both;
}
.list-answer span {
    border: 2px solid #999;
	flex-shrink:0;
    border-radius: 50%;
    font-weight: bold;
	margin-right:10px;
    width: 20px;
    display: inline-block;
    color: #999;
    height: 20px;
    text-align: center;
    font-size: 13px;
    line-height: 17px;
}
.list-answer {
    margin-bottom: 10px;
	overflow:hidden;
	position:relative;
}
div#ukuran-soal {
    width: 100%;
    background-color: rgb(56, 124, 197);
    color: rgb(255, 255, 255);
    margin-top: 10px;
    position: sticky !important;
    padding: 13px 30px;
}
div#ukuran-soal label {
    margin: 0;
    margin-right: 10px;
	font-size:13px;
}
.list-jawaban-line h1 {
    font-size: 18pt;
    font-weight: bold;
    padding-left: 12px;
    margin: 20px 0 10px;
}
.list-jawaban-line .cek_pilihan_essay h1{padding-left:6px;}
span.small-font {
    font-size: 11px;
    margin-right: 4px;
	font-weight:bold;
	cursor:pointer;
}
span.medium-font.active {
    margin-right: 4px;
	cursor:pointer;
	font-weight:bold;
}
span.large-font {
    font-size: 17px;
	font-weight:bold;
	cursor:pointer;
}
div.body-ujian {
    padding: 30px 30px;
    width: 100%;
    height: calc(100vh - 162px);
}
.soal_desc.question-block {
    max-height: calc(100vh - 460px);
    overflow-y: auto;
}
.body-line {
/*
    border: 1px solid #ccc;
    padding: 30px 30px;
    */ 
}
.footer{
    display: none;
}
div.footer-ujian {
	
    width:100%;
    border-top: 1px solid #ccc;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}
.nomor-soal {
    text-transform: uppercase;
	letter-spacing:-1px;
    font-weight: bold;
    font-size: 12pt;
}
.nomor-soal span {
    display: inline-block;
    /* background: #377cc5; */
    color: #fff;
    padding: 3px 10px;
    margin-left: 5px;
    font-weight: normal;
}
.sisa-waktu label {
    background: #aaa;
	vertical-align:middle;
    margin: 0;
    padding: 8px 14px;
    display: inline-block;
    color: #fff;
    margin-right: -4px;
    font-weight: normal;
}
#footer-instansi {
    padding-top: 10px !important;
    padding-bottom: 10px;
    align-items: center !important;
    justify-content: center !important;
}
div#footer-instansi .col-md-4 {
    width: auto;
}
.auto-save-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
div#ukuran-soal .navigation_button {
    position: relative;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div#ukuran-soal .navigation_button > * {
    float: none;
}
div#footer-instansi:after,div#footer-instansi:before {display:none}
div#footer-instansi img {
    max-width: 130px;
}
.sisa-waktu .time-countdown {
    /* background: #377cc5; */
    padding: 1px 5px !important;
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    width: auto;
}
.wrap_soal{padding-top:0px !important;min-height:auto !important;padding-bottom:20px !important;    flex-wrap: wrap;}
.kolom_input > input {
    left: 11px;
    position: absolute;
    top: 5px !important;
    cursor: pointer;
    width: 17px;
    height: 17px;
}

.kolom_input > label {
    border: 0 !important;
    cursor: pointer;
    font-weight: normal;
    height: 100%;
    margin: 0;
    padding: 6px 5px 0px 39px !important;
    width: 100%;
}
div#show-hide-jawaban {
    position: absolute;
    top: 50%;
	height:46px;
	margin-right:4px;
    background: #ff5e5e;
    right: 100%;
    padding: 10px 10px;
    margin-top: -20px;
    color: #fff;
}
div#block-list-jawaban.active .show-jawaban {
	display:none
}
div#block-list-jawaban.active .hide-jawaban {
	display:block
	
}
.show-jawaban {
    display: flex;
	/* display:none; */
    font-size: 9pt;
    line-height: 1.1;
    align-items: center;
    margin-right:13px;
}
.show-jawaban i {
    font-size: 15px;
    margin-left: 0px;
    top: 5px;
    left: 6px;
}
.hide-jawaban i {
    top: -1px;
}
.hide-jawaban {
    padding: 3px 4px;
	display:none;
}
div#ukuran-soal .active {
    color: #aaa;
}
span#divwaktu_ujian {
    position: sticky;
    z-index: 3;
    right: 25px;
    top: 0px;
    padding: 13px 30px;
}
div#right-panel {
    position: fixed;
    left: 0px;
    width: calc(50% - 590px);
    padding: 10px 0px 15px 15px;
}
div#left-panel {
    display: none !important;
}
#right-panel span.time-countdown {
    margin-bottom: 15px;
    display: block !important;
    width: 100% !important;
    background: rgb(56, 124, 197) !important;
    padding: 15px 0px !important;
}
#clockdiv {
    margin: 0 !important;
    vertical-align: middle;
    padding: 0 !important;
}
div#clockdiv > div {
    font-size: 15pt;
    width: auto;
    line-height: normal;
    background: transparent;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}
.thumbnail-panel {
    margin-bottom: 15px;
    text-align: center;
    padding-bottom: 11px;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
}
.title-panel {
    font-weight: bold;
    margin-bottom: 10px;
    background: rgb(221, 221, 221);
    padding: 5px 0px;
}
.number-block {
    font-size: 28pt;
    display: block;
    line-height: normal;
    font-weight: bold;
}
#belumdijawab .number-block {
    color: rgb(222, 29, 29);
}
#terjawab .number-block {
    color: rgb(59, 185, 18);
}
@media (min-width: 992px) {
    div#show-right-panel, div#show-left-panel {
        display: none;
    }
}
@media(max-width:767px){
span#divwaktu_ujian {
    position: sticky;
    right: 25px;
    top: 0px;
    padding: 14px 0;
}
div#ukuran-soal {
    position: sticky;
    top: 0;
	z-index:2;
}
.navigation_button a i {
    font-size: 12pt;
}

.navigation_button a {
    font-size: 0;
}
	div#middle-block .container .row{display:block}
div#middle-block .container .row {
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 0px;
}
div#middle-block .container .row .col-md-12 {
padding-left:0;
padding-right:0;
}
div.footer-ujian > * {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}
	div.footer-ujian *:last-child{margin-bottom:0}
	div.footer-ujian {
        display: block;
    }
    .sisa-waktu .time-countdown {
        /* width: 73px; */
    }
    .sisa-waktu label{padding:8px 10px;}
    .btn{padding:8px 12px}
    .jawaban-ragu label{width:100%;padding:7px 15px 7px 0}
    div#ukuran-soal,div.body-ujian,div.footer-ujian{padding-left:20px;padding-right:20px;height:auto;margin-top:0}
    .body-line{padding:0px}
    div#block-list-jawaban{right:0px;min-width:232px;top:0}
    .show-jawaban{
        display: none;
    }
    .hide-jawaban{
        display: block;
    }
    div#block-list-jawaban.active .hide-jawaban {
        display: none;
    }
    div#block-list-jawaban.active .show-jawaban {
        display: block;
    }
    div#block-list-jawaban{
        transform: translateX(0) !important;
    }
    div#block-list-jawaban.active{
        transform: translateX(100%) !important;
    }
    .soal_desc.question-block {
        max-height: none;
    }
    div#right-panel {
        position: fixed;
        left: 0px;
        width: 70%;
        padding: 10px 15px 15px 15px;
        z-index: 9;
        background: #fff;
        transform: translate(-100%);
    	transition: all 0.2s ease;
    	-o-transition: all 0.2s ease;
    	-webkit-transition: all 0.2s ease;
    	-moz-transition: all 0.2s ease;
    	-ms-transition: all 0.2s ease;
    	box-shadow: 0px 4px 63px 0px #0000000D;
    }
    div#right-panel.active {
        transform: translateX(0);
    }
    div#show-right-panel i {
        display: block;
        position: relative;
        top: 1px;
        font-size: 14pt;
    }
    div#show-right-panel {
        position: absolute;
        left: 100%;
        background: #ff5e5e;
        width: 48px;
        height: 46px;
        color: #fff;
        display: flex;
        align-items: center;
        margin-top: 0;
        top: 64px;
        justify-content: center;
    }
    #divwaktu_ujian {
        position: relative !important;
        right: 0;
        top: 0 !important;
        z-index: 100;
    }
    div#show-hide-jawaban{
        margin-top: 0;
        top: 60px;
    }
}
.navbar {
display:none !important;
}